#frontpage {
    margin-top: 50px;
    text-align: center;
}

#requested_amount {
    border-radius: 5px;
    padding: 8px;
    border-width: 1px;
    border-color: black;
    width: 8em;
}

#send_button {
    width: 10em;
}

.transitionable {
    background-color: red;
    transition: background-color 5s ease-in;
}
